ul,ol{
    padding: 0;
    margin: 0;
}



li{
    list-style: none;
}
/*basic css end*/

/*header section css start*/

.nav-link {
	position: relative;
}
#navbarSupportedContent ul li:hover a::after,
#navbarSupportedContent ul li.active:hover  a::after{
	position: absolute;
	content: '';
	width: 54%;
	height: 3px;
	background: #e23e38;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	transition: all linear 5s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}
#navbarSupportedContent ul li  a::after {
	position: absolute;
	content: '';
	width: 0%;
	height: 3px;
	background: #e23e38;
	bottom: 0px;
	left: 0px;
	opacity: 1;
	transition: all linear 0.3s;
	-webkit-transition: all linear 0.3s;
	-moz-transition: all linear 0.3s;
	-ms-transition: all linear 0.3s;
	-o-transition: all linear 0.3s;
}
#navbarSupportedContent ul li.active  a::after {
	width: 100%;
}

.nav-item.active a{
	background: #fff;
	color: black !important;
}

#header_area{
    background: #ebb9b9;
}
.navbar-nav .nav-link {
	text-transform: uppercase;
	color: #fff !important;
}
.nav-link:hover {
	background: #fff;
	color: #140f0f !important;
}
.navbar-light .navbar-brand {
	background: black;
	-moz-transform: skew(-30deg);
}
.navbar-brand {
	padding: 4px 10px;
}
.fixed_menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 222;
    transition: all .5s linear;
    padding: 10px 0;
    background: rgba(41, 5, 5, 0.67)!important;
}

.navbar.navbar-expand-lg.navbar-light {
	height: 40px;
}

/*header section css end*/










/*banner section start*/
.carousel-item{
    background: url(../images/bannar-img.jpg) center center no-repeat;
    background-size: cover;
    height: 600px;
    background-attachment: fixed;
}
.carousel-indicators {
	bottom: 50px;
}
.bnr_img{
    height: 600px;
}

#baner_part::
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 600px;
	content: '';
	background: rgba(26, 23, 23, 0.51);
    z-index: 1;
}
.carousel-indicators li {
	width: 15px;
	height: 15px;
	background-color: transparent;
	border-radius: 10px;
	border: 1px solid #fff;
}
.carousel-indicators .active {
	background-color: #e23e38;
}

#carouselExampleIndicators{
    position: relative;
    
}

#carouselExampleIndicators .images{
    position: absolute;
    
}
#carouselExampleIndicators .images {
	position: absolute;
	top: 10%;
	left: 19%;
}
.text {
	padding-bottom: 99px;
}
.text h3{
   font-size: 30px;
    color: #fff;
    text-transform: uppercase;
}
.text h1{
   font-size: 60px;
    color: #e23e38;
    text-transform: uppercase;
}
.text p{
    max-width: 500px;
    margin: 0 auto;
    color: #dddddd;
}

/*banner section start*/
.about_img{
    position:relative;
}
.bnr_overlay {
	text-align: center;
	background: rgba(36, 31, 31, 0.68);
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.bnr_overlay{
    text-align: center;
}
.bnr_overlay i {
	font-size: 35px;
	margin-top: 0;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
}
#about_area{
    margin: 80px 0;
}

.about_text h2{
    font-size:22px;
    color:#222222;
    text-transform: uppercase;
}
.about_text p{
    font-size:14px;
    color:#444444;
    padding-top: 20px;
}

.about_text span{
    display: inline-block;
    padding-top: 20px;
}

/*banner section end*/

/*gallery section start*/
#Our_gallery{
    position: relative;
    background: url(../images/gellarr_part-bannar.jpg) left top no-repeat;
    background-position: center center;
    background-size: cover;
}
#Our_gallery:before{
    position: absolute;
    background: rgba(0, 0, 0, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}
.gallery_padding{
    padding: 30px 0;
}
.gallery_img{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.gallery_overly{
    position: absolute;
    top: 16px;
    left: 20px;
    width: 90%;
    height: 90%;
    background: rgba(226, 62, 56, 0.61);
    text-align: center;
    border: 4px solid #bdbbb0;
    transform: scalex(0);
    transition: .7s all;
}
.gallery_img:hover .gallery_overly{
    transform: scale(1);
    transition: .8s all;
}
.gallery_img:hover img{
    transform: scale(1.1);
    transition: .5s all;
}
.gallery_overly i {
	position: absolute;
	font-size: 33px;
	color: aliceblue;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	}
/*gallery section end*/

/*our_team section start*/

#Our_team{
    padding: 70px 0;
}
.our_member_one{
    padding: 70px 0 0;
    transition: .9s all;
}
.team_member{
    position: relative;
}
.member_overlay{
    position: absolute;
    top: 11px;
    left: 11px;
    height: 90%;
    width: 90%;
    background: rgba(226, 62, 56, 0.61);
    content: '';
    border: 4px solid #bdbbb0;
    transition: 1s all linear;
    transform: scale(0);
}
.member_overlay ul{
    float: right;
    margin: 30px 10px;
}
.member_overlay ul li{
    list-style: none;
    padding-top: 20px;
}
.member_overlay ul li a{
    font-size: 15px;
    color: white;
    border: 1px solid #fff;
    padding: 6px 8px;
}
.member_overlay ul li a .fa.fa-facebook-f {
	font-size: 19px;
}
.member_overlay ul li a:hover{
    color: #1da0f2;
    background: #fff;
}
.member_text{
    padding-top: 20px;
}
.member_text h2, h3{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
.member_text p{
    text-align: center;
    font-size: 13px;
   max-width: 225px;
    margin: 0 auto;
    line-height: 24px;
    padding-bottom: 20px;
    transform: scale(0);
}
.our_member_one:hover {
	padding-top: 0;
	transition: .6s all;
}
.our_member_one:hover .member_overlay,
.our_member_one:hover .member_text p
{
   transform: scale(1);
}
.our_member_one:hover .member_text{
   border: 1px solid #dddddd;
    border-top: none;
}
.our_member_one:hover{
   padding-top: 0;
}
/*our_team section end*/

/*Testimonial_area section start*/

#Testimonial_area{
    position: relative;
    background: url(../images/gellarr_part-bannar.jpg) left top no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 30px;
}
#Testimonial {
	margin-bottom: 25px;
}
#Testimonial_area:before{
   position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.83);
    content: '';
}
.testimonial_text{
    color:#fff;
    font-weight: bold;
}
.testimonial_text h2{
    font-size: 14px;
    text-transform: uppercase;
}
.testimonial_text h4{
    font-size: 14px;
}
.testimonial_text ul{
    padding-left: 0;
}
.testimonial_text ul li{
    display: inline-block;
}
.testimonial_text ul li a{
    color:#e23e38;
}
#Testimonial_area p{
    color:#fff;
    font-size: 13px;
    
}
.slick-dots li.slick-active button::before,
.slick-dots li button::before
{
	color: transparent;
}
.slick-dots li button::before {
	width: 15px;
	height: 15px;
	background: #e23e38;
	border-radius: 10px;
}



/*Testimonial_area section end*/

/*membership_area section start*/


#membership_area{
    padding: 80px 0;
}
.membership_one{
    text-align: center;
    background: #dddddd;
    transition: 1s all;
} 
.membership_text{
    text-transform: uppercase;
    font-size: 16px;
} 
.membership_one:hover{
    background: red;
    transition: 1s all;
    box-shadow: 0px 0px 2px 2px red;
} 
.membership_one:hover h3{
   color: white;
}
.membership_text h3{
    padding: 10px 0;
    font-weight: bold;
}
.membership_text .text{
    padding: 20px 0 15px;
}
.member_img{
    position: relative;
}
.membership_overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.membership_overlay h2{
    padding-top: 25px;
    color:aliceblue;
    font-size: 30px;
}
.membership_overlay span{
    font-size: 50px;
}
.membership_one ul{
    background: #f1f1f1;
    padding: 20px 0;
}
.membership_one ul li{
    padding: 15px 0;
}

/*membership_area section end*/


/*counter section start*/

#counter_area{
    background: url(../images/counter-img.jpg) left top no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    z-index: 1;
    margin-bottom: 70px;
}

#counter_area:before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.counter_one {
	width: 20%;
	color: #fff;
	text-align: center;
	float: left;
	padding: 40px 0 30px;
}
.timer{
    font-size: 40px;
    font-weight: bold;
}

/*counter section end*/









/*temforest section start*/


#temforst_slider{
    padding-bottom: 80px;
}


.slid_img{
    width:20%;
    float: left;
    margin-left: 10px;
}


/*temforest section end*/


/*gymnasium section start*/
#gymnasium{
    background: url(../images/futer-part-img.jpg) left top no-repeat;
    background-position: center center;
    background-size: cover;
}
.gymnasium_overlay{
    background: rgba(31, 27, 27, 0.75);
}
.footer_top{
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}
.footer_mdl{
    padding: 25px 0px;
}
.footer_mdl h2{
    color:#ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 10px;
}
.footer_mdl ul li{
    line-height: 24px;
    font-size: 13px;
}
.footer_mdl ul li .day{
    color:#dddddd;
    width:20%;
    float: left;
}
.footer_mdl ul li .time{
     color:#dddddd;
    width:80%;
    padding-left: 35px;
}
.footer_mdl ul li .icon{
     color:#dddddd;
    width:10%;
    display: inline-block;
}
.footer_mdl ul li i{
   color: #1da1f2;
}
.footer_mdl ul li .txt{
    color:#dddddd;
    width:90%;
    float: right;
}
.icon_top{
   position: relative;
}
.icon_btm {
	position: absolute;
	top: 147px;
	left: 15px;
}
.contact ul li{
    line-height: 20px;
    color:#fff;
}
.contact span{
    padding-left: 30px;
}
.contact ul li i{
    color: #e23e38;
    padding-right: 20px;
}
.flax ul li{
    width: 25%;
    float: left;
    border: 5px solid;
}
.contact_btn{
    padding-top: 30px;
}
.contact_btn h2{
    padding-bottom: 15px;
}
.contact_btn ul li {
	display: inline-block;
	padding: 4px 9px;
	border: 1px solid #fff;
	margin-right: 10px;
    transition: .3s;
}
.contact_btn ul li:hover {
	background: #e23e38;
	border: 1px solid #e23e38;
    transition: .3s;
}
.contact_btn ul li i{
	font-size: 20px;
}

.footer_btm{
    padding: 20px 0 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
}
.footer_btm span{
    color: #e23e38;
    text-transform: uppercase;
}

/*gymnasium section end*/




/*our_class section start*/
#our_class .about_text{
    padding-bottom: 50px;
}

.lll ul li {
	width: 20%;
	float: left;
	text-align: center;
	background: #f1f1f1;
	border: 3px solid #fff;
    color: #222222;
    padding: 40px 0;
    transition: 2s all;
}
.lll ul li:hover {
	background: #de1515;
    transition: 2s all;
}
.lll ul li:hover i{
    color:#fff;
    transition: .5s all;
}
[class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
	font-size: 50px;
    margin-left: 0;
}
.colorful-tab-menu-item.active a {
	background: #e23e38;
	color: #fff;
}
.colorful-tab-menu-item a {
	color: #1e1c1c;
    text-transform: uppercase;
}
.colorful-tab-menu {
	background: #f1f1f1;
}
.colorful-tab-wrapper {
	width: 100%;
    background: transparent;
}
.colorful-tab-wrapper::before {
	color: #141111;
    transform: scale(2) rotate(180deg);
}

/*our_class section end*/


.backtotop {
	position: fixed;
	right: 22px;
	bottom: 36px;
	z-index: 782;
	color: red;
	cursor: pointer;
    font-size: 30px;
}

/*responsive style start*/

@media(max-width:575px){
    
    
/*    banner section responsive start*/
    
    
.text h3 {
	font-size: 18px;
}
.text h1 {
	font-size: 30px;
} 
.text p {
	font-size: 14px;
    text-align: justify;
} 
 #carouselExampleIndicators .images{
      display: none;
 }
    
  /*    banner section responsive ends*/
    
/*    about section start*/
    
.about_text {
	margin-top: 26px;
}
#about_area {
	margin: 20px 0 0;
}
 /*    about section end*/  
    
/*    our gallery section start */
    
    .mdl {
	margin: 20px 0;
}
    
/*    our gallery section end */
    
/*   our team section start */
    #Our_team {
	padding: 30px 0;
}
/*   our team section end */
    
/*    counter section start*/
    
    #counter_area {
	margin-bottom: 10px;
}
/*    counter section end*/
    
    
    
/*    member section start*/
    #membership_area {
	padding: 10px 0;
}
    .membership_one {
	margin: 20px 0;
}
/*    member section end*/
    
    #our_class .about_text {
        padding-bottom: 0;
}
.lll ul li {
	width: 50%;
	padding: 14px 0;
}
.colorful-tab-content {
	font-size: 13px;
	line-height: 23px;
}    
.colorful-tab-menu-item a {
	padding: 11px 0;
	font-size: 14px;
}    
    

    
    
}


