@media(min-width:768px) and (max-width:991px) {
    .main-menu ul li a {
        padding: 10px 0px;
    }
    .header-top {
        font-size: 13px;
    }
    .cta-area h2 {
        font-size: 20px;
    }
    .widget-title {
        margin-top: 20px;
    }
}

@media(min-width:576px) and (max-width:767px) {
    .text-right {
    text-align: center !important;
}
    .header-top{
        text-align: center;
    }
    .header-area {
  text-align: center;
}
.main-menu ul li a {
  padding: 10px 0;
  margin-top: 14px;
  display: inline-block;
}
    .cta-area{
        text-align: center;
    }
    .widget-title {
        margin-top: 20px;
    }
}
@media(min-width:300px) and (max-width:575px) {
    .text-right {
    text-align: center !important;
}
    .header-top i{
        margin-right: 5px;
    }
    .header-top{
        text-align: center;
    }
    .header-area {
  text-align: center;
}
.main-menu ul li a {
  padding: 8px 0;
  margin-top: 10px;
  display: inline-block;
}
    .cta-area{
        text-align: center;
    }
    .widget-title {
        margin-top: 20px;
    }
    .owl-dots{
        bottom: 6px;
    }
}

