/**
 * This is the primary stylesheet
 * @Atuhor: Mamun;
 * @Author Link: https://mdalmamun.xyz;
 */

.section-padding {
    padding: 100px 0px;
}
.feature-bg-1 .feature-bg{background-image: url(assets/img/2.jpg);}
.feature-bg-2 .feature-bg{background-image: url(assets/img/3.jpg);}
.single-feature-item {
  position: relative;
  z-index: 1;
}
.feature-bg {
  position: absolute;
  left: 25%;
  width: 50%;
  height: 100%;
  content: '';
  background-color: #333;
  background-size: cover;
  background-position: center;
    bottom: -50px;
}
.feature-content {
  background: #fff;
  box-shadow: 0 0 10px #ddd;
  padding: 20px;
  border-bottom: 2px solid #333;
  position: relative;
  padding-left: 70px;
}
.feature-no {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 26px;
  opacity: .3;
  font-weight: 700;
}
.feature-no:after {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 60px;
  height: 2px;
  background: #333;
  content: ;
  content: '';
  transform: rotate(-45deg);
}
/**
 * Global
 */

body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
}

* {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
address,
figure,
figcaption {
    margin-top: 0;
    margin-bottom: 0;
}

.clr {
    clear: both;
}
