/**
 * This is the primary stylesheet
 * @Atuhor: Mamun;
 * @Author Link: https://mdalmamun.xyz;
 */

.section-padding{
    padding: 100px 0;
    background: #090F15;
}
.portfolio-bg-1{background-image: url(assets/img/1.jpg);}
.portfolio-list {
  overflow: hidden;
}
.section-title h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 40px;
}
.portfolio-single-item {
  width: 20%;
  height: 200px;
  position: relative;
  background-color: #ddd;
  background-position: center;
  background-size: cover;
  float: left;
    z-index: 1;
}
.portfolio-single-item:after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    visibility: hidden;
    content: '';
    transition: .4s;
    z-index: -1;
}

.portfolio-single-item:hover::after {
  visibility: visible;
  opacity: .8;
}
.portfolio-single-item a i {
  font-size: 30px;
  color: #fff;
  position: absolute;
  top: 50%;
  line-height: 50px;
  margin-top: -25px;
  left: 50%;
  margin-left: -25px;
}
.portfolio-single-item.long {
  width: 40%;
  height: 400px;
}
.portfolio-single-item.wide {
  width: 40%;
}


.faltu-area {
  background: #A72728;
  color: #fff;
  font-size: 16px;
  line-height: 1.8;
  padding: 100px 0;
    position: relative;
}
.faltu-area h2 {
  text-transform: capitalize;
  margin-bottom: 15px;
}
#particles-js canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
}
/**
 * Global
 */

body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
}

* {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;

}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
address,
figure,
figcaption {
    margin-top: 0;
    margin-bottom: 0;
}

.clr {
    clear: both;
}
