/**
 * This is the primary stylesheet
 * @Atuhor: Mamun;
 * @Author Link: https://mdalmamun.xyz;
 */

.section-padding {
    padding: 80px 0;
}
.section-tile h2 {
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-tile {
  margin-bottom: 40px;
}

.bg-1 {
    background-image: url(assets/img/1.jpg);
}

.bg-2 {
    background-image: url(assets/img/2.jpg);
}

.bg-3 {
    background-image: url(assets/img/3.jpg);
}

.bg-4 {
    background-image: url(assets/img/1.jpg);
}

.bg-5 {
    background-image: url(assets/img/2.jpg);
}

.bg-6 {
    background-image: url(assets/img/3.jpg);
}

.single-listing-carousel {
    background-color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 300px;
    z-index: 1;
    border-radius: 5%;
}

.listing-content {
    position: absolute;
    left: 10%;
    bottom: 20%;
    color: #fff;
    z-index: 1;
}

.listing-content h3 {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.listing-content p {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 400;
    margin-bottom: 20px;
}

.bodered-btn {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 15px;
    text-transform: capitalize;
    border-radius: 50px;
}

.single-listing-carousel:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}

.listing-carousel .owl-stage-outer {
    position: relative;
    overflow: inherit;
}

.listing-carousel-wrap {
    overflow: hidden;
}

.listing-carousel {
    position: relative;
}

.listing-carousel:before {
    position: absolute;
    left: -500%;
    top: 0;
    width: 500%;
    height: 100%;
    background: #fff;
    content: '';
    z-index: 1;
    opacity: 0.7;
}

.listing-carousel:after {
    position: absolute;
    right: -500%;
    top: 0;
    width: 500%;
    height: 100%;
    background: #fff;
    content: '';
    z-index: 1;
    opacity: 0.7;
}

.owl-dot span {
    width: 15px;
    height: 15px;
    background: #000;
    display: inline-block;
    margin: 5px;
    border-radius: 50%;
    margin-top: 30px;

}
.owl-dot.active span {
    background: red;
}



/**
 * Global
 */

body {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.7;
}

* {
    margin: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

img {
    max-width: 100%;
}

ol,
ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;

}

button:focus {
    outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
img,
address,
figure,
figcaption {
    margin-top: 0;
    margin-bottom: 0;
}

.clr {
    clear: both;
}
